button {
    position: relative;
    transition: all .15s ease-in-out;
    &.loading {
        padding-left: 36px;
    }
    .btn-spinner {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 10px;
    }
}
