<div class="breadcrumb">
    <h1>Iconsmind</h1>
    <ul>
      <li><a href="">Icons</a></li>
      <li>Iconsmind</li>
    </ul>
  </div>
  
  <div class="separator-breadcrumb border-top"></div>
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="card-title">Usage</div>
                <code>&lt;i class="i-Add-Cart">&lt;/i></code>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2 text-center mb-3" *ngFor="let i of icons">
                        <i class="text-20 i-{{i}}"></i>
                        <p>i-{{i}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  